<!--
 * @Author: 1151309124 115130924@qq.com
 * @Date: 2022-05-25 15:40:02
 * @LastEditors: 1151309124 115130924@qq.com
 * @LastEditTime: 2022-05-25 16:26:58
 * @FilePath: \leetcodee:\vs CODE\笔记\midway\message-board\src\app\view\register.ejs
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<style>
    input{
        margin-top: 5px;
        margin-left: 5px;
    }
</style>
<h1>注册用户</h1>
<form action="/user/register" method="post">
    用户名 <input name="username"/><br/>
    密码 <input name="password" type="password"/><br/>
    <button>注册</button>
</form>